<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css"/>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endwith %}

    <div class='container-fluid'>
        <div class='row kart-banner'>
            <span>FullStack Kart</span>
        </div>

        <div class='row'>
            <div class='col-2 navigation-bar'>
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    {% if 'email' in session %}
                        <li><a class="active" href="/logout">Log out</a></li>
                    {% endif %}


                </ul>
            </div>
            <div class='col-10'>
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </div>

</body>
</html>